@import 'variables';
@import '../../node_modules/open-iconic/font/css/open-iconic-bootstrap.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

/*
 * General Layout
 */

 body {
  width: $body-width;
  max-height: $body-max-height;
  background: url("../images/dust_scratches.png");
  font-family: $font-family-base, serif;
  color: $body-color;
  overflow: hidden;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-headings, sans-serif;
  text-transform: uppercase;
}

.container-fluid {
  width: 100%;
}

/*
  * Header Layout
  */

header {
  background-color: rgba(51, 153, 204, 0.75);
  border-bottom: 1px solid darken($fmr-color-blue, 8%);
  color: white;
}

.logo {
  height: 32px;
  width: 32px;
  background: url('../icons/fmr-color-64.png') no-repeat;
  background-size: contain;
}

/*
 * Left panel Layout
*/

#left-panel {
  border-right: 2px solid #ddd;

  hr {
    width: 100%;
    border-top: 1px solid #ddd;
  }

  .update-text {
    font-size: 0.8em;
    color: lighten($body-color, 20%);
  }

  #view-mode-container label span {
    font-size: 2em;
  }

  .btn.btn-link {
    color: $body-color;
    text-decoration: none;

    &.active,
    &:hover {
      color: $fmr-color-orange;
    }

    &:not(.active) {
      cursor: pointer;
    }
  }

  #sidebar-expand-btn {
    position: absolute;
    top: 0%;
    right: 0;
  }

  // Collapsed sidebar
  &.collapsed {
    hr {
      border-top: 2px solid #ddd;
    }

    .update-text,
    .btn > span {
      font-size: 1.5em;
    }

    #sidebar-expand-btn {
      position: relative;
    }
  }
}

/*
 * Right panel Layout
*/

#manga-list-nav {
  height: $list-nav-height;
  border-top: 2px solid #ddd;
}

#manga-list {
  position: relative;
  height: $list-height;
  // background: url("../images/memphis-colorful.png");
  overflow-y: auto;

  & > .row {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(254,254,254,0.7);

    .input-group-sm {
      height: $input-height-sm;
    }

    img {
      display: inline-block;
    }
  }

  .manga-data {
    span {
      font-size: 10px;
      color: gray;
    }
  }
}
