#viewer {
  background: transparent;
  border: 0;
}

/* Chapter Bars */
#top_center_bar {
  display: none;
}

/* Ads */

#right-skyscraper,
#left-skyscraper {
  display: none;
}

.AdtruePopupVideo {
  z-index: 0;
}